@use '../../../mixins.scss' as *;
.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 20px;
    gap : 10px;
    input{
        height: 30px;
        width: 20%;
        @include input-box;
        @media (max-width: 600px){
            width: 40%;
        }
    }
    .login-btn{
        padding: 10px;
        border-radius: 5px;
    }
}