@use '../../mixins.scss' as *;

.chat-container {
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include editor;
    @include chatBox;

    .response-container::-webkit-scrollbar {
        display: none;
    }
}