@use '../../mixins.scss' as *;

.game-container {
    height: 100vh;
    width: 100vw;
    padding: 10px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 20% 1fr;
    grid-template-areas: 
    "case-description case-description"
    "suspect-list chat-box"
    "suspect-list editor";
    gap: 10px;

    @media (max-width: 767px) {
        grid-template-columns: 35% 1fr;
    }

    .suspects-container{
        display: flex;
        flex-direction: column;
        gap: 5px;

        .suspect{
            display: flex;
            cursor: pointer;
            align-items: center;
            gap: 5px;
            padding: 10px;
            border-top: 1px solid gray;

            img{
                height: 50px;
                width: 50px;
                border-radius: 50%;
            }

            .sus-name{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .active{
            opacity: 0.5;
        }
    }

    .chat-box{
        border-radius: 5px;
        border: 1px solid #303030;
        background-color: #1F1F1F;
        overflow-y: auto;
        word-break: break-all;
        white-space: pre-wrap;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: flex-start; //else the flex items will take full width
        padding: 5px;

        .message{
            padding: 10px 15px 10px 10px;
            min-width: 0;
            border-radius: 10px;
        }

        .outgoing{
            background-color: #2E5E4E;
        }

        .incoming{
            background-color: #363636;
        }

        @include hideScrollBar;
    }

    .editor-box {
        height: 40px;
        width: 100%;
        resize: none;
        @include input-box;
    }

}