<div class="game-container">

    <div style="grid-area: case-description;">
        @if (caseDetails) {
            {{caseDetails.description}}
        }
    </div>

    @if (caseDetails) {
        <div class="suspects-container" style="grid-area: suspect-list;">
            Suspects (choose suspect to start interrogating): 
            @for (item of caseDetails.suspects; track $index) {
                <div class="suspect" (click)="interrogatingSuspect = item;getConversation()" [class.active]="interrogatingSuspect?._id === item._id">
                    <img src="https://i.redd.it/zwfggeplutf61.jpg" alt="">
                    <span>{{item.name}} : {{item.role}}</span>
                </div>
            }
        </div>
    }

    <div class="chat-box" style="grid-area: chat-box;" #chatBox>
        @for(conversation of conversationArr;track conversation._id;let first = $first){
            <div style="padding: 5px;">
                @if(first && loadMore){
                    <span InfiniteScroll (intersected)="getOldMessages()"></span>
                }
                <div class="message" [ngStyle]="{'text-align':conversation.role === 'user'? 'right' : 'left'}">{{conversation.content}}</div>
            </div>
        }
    </div>

    <div class="editor-container" style="grid-area: editor;" [formGroup]="interrogateFormGrp">
        <textarea class="editor-box" formControlName="content" (keydown.enter)="msgChatGpt($event)" placeholder="Type and enter to question suspect"></textarea>
    </div>
    
</div>
