@use '../../mixins.scss' as *;

.game-container {
    height: 100vh;
    width: 100vw;
    padding: 10px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    "case-description case-description"
    "suspect-list chat-box"
    "suspect-list editor";
    gap: 10px;

    @media (max-width: 767px) {
        grid-template-columns: 35% 1fr;
    }

    .suspects-container{
        display: flex;
        flex-direction: column;
        gap: 5px;

        .suspect{
            display: flex;
            cursor: pointer;
            align-items: center;
            gap: 5px;
            padding: 10px;
            border-top: 1px solid gray;

            img{
                height: 50px;
                width: 50px;
                border-radius: 50%;
            }
        }

        .active{
            opacity: 0.5;
        }
    }

    .chat-box{
        border-radius: 5px;
        border: 1px solid #303030;
        background-color: #171717;
        overflow-y: auto;
        word-break: break-all;
        white-space: pre-wrap;

        @include hideScrollBar;
    }

    .editor-box {
        width: 100%;
        resize: none;
        &::placeholder{
            text-align: center
        }
        @include input-box;
    }

}