@use '../../mixins.scss' as *;

.game-container {
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .header-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @include editor;
    @include chatBox;

    .old-msg{
        width: 8%;
        background: #303030;
        color: #fff;
        cursor: pointer;
    }

}