<div class="game-container">
    <div class="header-container">
        Ready to crack the case ?
    </div>

    <div class="interrogate-box-container" [formGroup]="interrogateFormGrp">
        <textarea class="interrogate-box" formControlName="content" (keydown.enter)="msgChatGpt($event)" placeholder="Type and enter to question suspect"></textarea>
    </div>

    <div class="case-description">
        @if (caseDetails) {
            {{caseDetails.description}}
        }
    </div>

    <div class="response-container" #responseBox>
        @for(conversation of conversationArr;track conversation._id;let first = $first){
            <div style="padding: 5px;">
                @if(first && loadMore){
                    <span InfiniteScroll (intersected)="getOldMessages()"></span>
                }
                <b>{{conversation.role === 'user' ? 'You' : interrogatingSuspect.name}}</b> : {{conversation.content}} <br>
            </div>
        }
    </div>

    @if (caseDetails) {
        <div class="suspects-container">
            Suspects (choose suspect to start interrogating): 
            @for (item of caseDetails.suspects; track $index) {
                <div>
                    <input type="radio" [checked]="interrogatingSuspect?._id === item._id" (change)="interrogatingSuspect = item;getConversation()">
                    <span>{{item.name}} : {{item.role}}</span>
                </div>
            }
        </div>
    }
</div>
