<div class="game-container">

    <div style="grid-area: case-description;">
        @if (caseDetails) {
            {{caseDetails.description}}
        }
    </div>

    @if (caseDetails) {
        <div class="suspects-container" style="grid-area: suspect-list;">
            Suspects
            @for (item of caseDetails.suspects; track $index) {
                <div class="suspect" (click)="interrogatingSuspect = item;getConversation()" [class.active]="interrogatingSuspect?._id === item._id">
                    <img src="https://i.redd.it/zwfggeplutf61.jpg" alt="">
                    <span>{{item.name}} ({{item.role}})</span>
                </div>
            }
        </div>
    }

    <div class="chat-box" style="grid-area: chat-box;" #chatBox>
        @for(conversation of conversationArr;track conversation._id;let first = $first){
            @if(first && loadMore){
                <span InfiniteScroll (intersected)="getOldMessages()"></span>
            }
            <div class="message" [ngClass]="conversation.role === 'user'? 'outgoing' : 'incoming'" [ngStyle]="{'align-self':conversation.role === 'user'? 'flex-end' : 'flex-start'}">{{conversation.content}}</div>
        }
    </div>

    <div class="editor-container" style="grid-area: editor;" [formGroup]="interrogateFormGrp">
        <input class="editor-box" formControlName="content" (keydown.enter)="msgChatGpt($event)" placeholder="Type and enter to question suspect"/>
    </div>
    
</div>
