.game-container{
    height: 100%;
    width: 100%;
    margin-top: 10px;

    .interrogate-box-container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap : 10px;
        
        .interrogate-box{
            width: 30%;
            resize: none;
            border-radius: 5px;
        }
    }
}