.page-container{
    height: 100%;
    width: 100%;

    .case-container{
        margin-top: 10px;
        padding: 10px;
        display: flex;
        .case{
            height: 100px;
            max-width: 150px;
            padding: 5px;
            border: 1px solid #303030;
            cursor: pointer;
            .question-mark{
                text-align: center;
                font-size: xxx-large;
            }
        }
    }
}