@use '../../mixins.scss' as *;
.page-container{
    height: 100%;
    width: 100%;
    padding: 10px;

    .experimental-feature{
        display: flex;
        justify-content: center;
    }

    .case-container{
        margin-top: 10px;
        gap : 10px;
        display: flex;
        .case{
            max-height: 150px;
            max-width: 150px;
            padding: 5px;
            border: 1px solid #303030;
            cursor: pointer;
            .question-mark{
                text-align: center;
                font-size: xxx-large;
            }
        }
    }
}