@mixin input-box {
    border-radius: 5px;
    background-color: #303030;
    color: #fff;
    caret-color: #fff;
    padding: 5px;
    outline: none;

    &:focus{
        border-color: #5865f2;;
    }
}

@mixin hideScrollBar {
    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin button {
    .btn{
        background: #303030;
        color: #fff;
        cursor: pointer;
    }
}