@mixin input-box {
    border-radius: 5px;
    background-color: #303030;
    color: #fff;
    caret-color: #fff;
    padding: 5px;
    outline: none;
    border: none;
    &:focus{
        border: 1px solid #5865f2;
    }
}

@mixin hideScrollBar {
    &::-webkit-scrollbar {
        display: none;
    }
}